html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html,
body {
  height: 100%;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font-size: 1.2rem;
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

* {
  box-sizing: border-box;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* after reset */
body {
  font-size: 1.6em;
  font-size: 1.6rem;
  line-height: 1.4;
  font-weight: 200;
  font-family: "Signika", Helvetica, Arial, sans-serif;
  color: #000000;
  background: #f8f8f8;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 1rem;
  font-weight: 400;
  line-height: 1.6;
}
h1 {
  font-size: 3rem;
  letter-spacing: 0.02rem;
}

h2 {
  font-size: 2.5rem;
  letter-spacing: 0.03rem;
}

h3 {
  font-size: 2rem;
  letter-spacing: 0.01rem;
}
a {
  outline: 0 none;
  text-decoration: none;
  transition: all 0.3s ease-in-out 0s;
  color: #da2a1c;
}

/* containers */
.section {
  position: relative;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 1rem 2rem;
}
.header {
  border-bottom: 0.2rem solid #000000;
}
